@import "tailwindcss";
@import "@xyflow/react/dist/style.css";
@plugin "@tailwindcss/typography";

@theme {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background-color: black;
  color: white;
}

.react-flow {
  --xy-edge-stroke-default: #555;
  --xy-edge-stroke-selected: #fff;
}